# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.

# Enable/disable step debug logging (default: `false`). For local debugging, it
# may be useful to set it to `true`.
ACTIONS_STEP_DEBUG=true

# GitHub Actions inputs should follow `INPUT_<name>` format (case-sensitive).
# Hyphens should not be converted to underscores, hence the IncorrectDelimiter
# suppression below.
# dotenv-linter:off IncorrectDelimiter
INPUT_CONFIG=
INPUT_DESTROY=true
INPUT_FORCE=true
INPUT_NIC-BINARY=
INPUT_NIC-VERSION=latest
INPUT_TOKEN=
INPUT_WAIT=true
INPUT_WAIT-TIMEOUT=600

# GitHub Actions default environment variables. These are set for every run of
# a workflow and can be used in your actions. Setting the value here will
# override any value set by the local-action tool.
# https://docs.github.com/en/actions/learn-github-actions/variables#default-environment-variables

# CI="true"
# GITHUB_ACTION=""
# GITHUB_WORKSPACE=""
# RUNNER_TEMP=""
